.cartAll {
    width: 1440px;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cartAllPage {
    width: 1440px;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start;
    align-items: flex-start; */
    text-align: right;
    justify-content: right;
    align-items: right;
}


