
.nav {
    height: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 700;
    margin: 0;
}

.link {
    padding: 8px 16px;
    margin: 30px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

a:hover {
    color: #d84343;
}

.link:hover {
    color: #d84343;
}

a:focus {
    color: #d84343;
}

.link:focus {
    color: #d84343;
}

.active {
    color: #d84343;
    
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 20px;
        margin: 20px;
        border-radius: 2px;
        margin-right: auto;
        color: black;
}

.iconLogo {
    width: 136px;
    height: 16px;
}