
.item {
    width: 527px;
    height: auto;
    margin: 5px;
    margin-left: 0px;
    padding: 5px;
    padding: 0px;
    list-style: none;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 8px;
    color: rgb(14, 15, 15);
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.items {
    width: 520px;
    margin: 1px;
    margin-bottom: 8px;
    padding: 1px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

.label {
    margin-bottom: 8px;
    padding: 1px;
}

.messag {
    margin: 5px;
    margin-bottom: 8px;
    padding: 5px;
}

.inp {
    width: 100%;
    margin-bottom: 8px;
    padding: 2px;
}

.buttonSend {
    width: 166px;
    height: 56px;
    padding: 0px;
    margin: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 40px;
}

.btnSend {
    width: 166px;
    height: 56px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e44848;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    color: #fff;
}